BILBO-firmware.X/*.d
BILBO-firmware.X/*.pre
BILBO-firmware.X/*.p1
BILBO-firmware.X/*.lst
BILBO-firmware.X/*.sym
BILBO-firmware.X/*.obj
BILBO-firmware.X/*.o
BILBO-firmware.X/*.sdb
BILBO-firmware.X/*.obj.dmp

BILBO-firmware.X/html/
BILBO-firmware.X/nbproject/private/
BILBO-firmware.X/nbproject/Package-*.bash
BILBO-firmware.X/build/
BILBO-firmware.X/nbbuild/
BILBO-firmware.X/dist/
BILBO-firmware.X/nbdist/
BILBO-firmware.X/nbactions.xml
BILBO-firmware.X/nb-configuration.xml
BILBO-firmware.X/funclist
BILBO-firmware.X/nbproject/Makefile-*
BILBO-firmware.X/disassembly/
BILBO-firmware.X/*.map

BILBO-firmware.X/.generated_files